@use "rules";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Sen:wght@400;500;600;700;800&display=swap");

.footer-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0 100px 0;
  background-color: rules.$lightblue;

  .footer-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-content {
      display: flex;
      flex-direction: column;
      gap: 170px;

      .left-top {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
          color: rules.$black;
          font-family: Manrope;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.32px;
          text-transform: uppercase;
        }

        span {
          width: 60%;
          @include rules.blacktext;
        }
      }

      h4 {
        @include rules.blacktext;
        opacity: 0.5;
      }
    }

    .right-content {
      display: flex;
      gap: 200px;

      nav {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h5 {
          color: rules.$darkred;
          font-family: Manrope;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        a {
          @include rules.blacktext;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: rules.$phone) {
  .footer-section {
    padding: 100px 0 15px 0;
    .footer-content {
      flex-direction: column-reverse;
      gap: 10px;
      align-items: start;
      .left-content {
        .left-top {
          display: none;
        }

        h4 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          transform: translateX(-45px);
        }
      }

      .right-content {
        gap: 100px;

        nav {
          gap: 10px;

          h5 {
            font-size: 16px;
            font-weight: 500;
          }

          a {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }
    }
  }
}
